{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<!-- 뒤로가기 -->
<a href="/music/" class="back-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
    차트로 돌아가기
</a>

<div class="detail-layout">
    <!-- 커버 -->
    <div class="cover-panel">
        <div class="cover-box">
            {% if music.cover_image %}
            <img src="{{ music.cover_image.url }}" alt="{{ music.title }}">
            {% else %}
            <div class="cover-placeholder-lg">🎵</div>
            {% endif %}
        </div>
        <div class="now-playing-pill">
            <div class="bars">
                <span></span><span></span><span></span><span></span>
            </div>
            NOW PLAYING
        </div>
    </div>

    <!-- 정보 + 플레이어 -->
    <div class="info-panel">
        <span class="genre-tag-lg">{{ music.genre }}</span>
        <h1 class="song-title-lg">{{ music.title }}</h1>
        <div class="song-meta">
            <span>{{ music.artist }}</span>
            <span>재생 {{ music.play_count }}</span>
            <span>좋아요 {{ like_count }}</span>
        </div>

        {% if music.description %}
        <div class="description-box">
            {{ music.description }}
        </div>
        {% endif %}

        <!-- 플레이어 -->
        <div class="player-card">
            <div class="player-label">▶ 재생하기</div>

            <audio id="native-audio" src="{{ music.audio_file.url }}"></audio>

            <div class="custom-player">
                <div class="progress-wrap" id="progress-wrap">
                    <div class="progress-fill" id="progress-fill"></div>
                </div>
                <div class="time-row">
                    <span id="time-current">0:00</span>
                    <span id="time-total">0:00</span>
                </div>
                <div class="controls">
                    <!-- 이전 -->
                    <button class="ctrl-btn" title="이전">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                    <!-- 재생/일시정지 -->
                    <button class="play-btn-lg" id="play-btn">
                        <svg id="icon-play" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                        </svg>
                        <svg id="icon-pause" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16" style="display:none">
                            <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/>
                        </svg>
                    </button>
                    <!-- 다음 -->
                    <button class="ctrl-btn" title="다음">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                    <!-- 볼륨 -->
                    <div class="volume-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" color="var(--text-muted)" viewBox="0 0 16 16">
                            <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                            <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                            <path d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06"/>
                        </svg>
                        <input type="range" class="volume-slider" id="volume-slider" min="0" max="1" step="0.01" value="1">
                    </div>
                </div>
            </div>
        </div>

        <!-- 액션 -->
        <div class="action-row">
            <form action="{% url 'music-like' music.id %}" method="post">
                {% csrf_token %}
                <button class="{% if not is_liked %}btn-outline-chart{% else %}btn-liked{% endif %}" id="like-btn" data-id="{{ music.id }}" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                    좋아요{{ like_count }}
                </button>
            </form>
            <button class="btn-outline-chart">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                </svg>
                공유하기
            </button>
            <a href="{{ music.audio_file.url }}" download class="btn-outline-chart">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                </svg>
                다운로드
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
